body {
  font-family: Arial, sans-serif;
  background: #eef2ff;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: darkblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: royalblue;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}
