body {
  font-family: Arial, sans-serif;
  background: #f2f6ff;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: darkblue;
}

h2 {
  text-align: center;
  color: #444;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 6px solid royalblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h3 {
  color: darkred;
}

.success {
  color: green;
  font-weight: bold;
}

.highlight {
  background-color: yellow;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: royalblue;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f9f9f9;
}
